<h1><font color='#004b87'>Question 1</font></h1>
Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

In [2]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b()
b()
b()
a

6

# Explanation:
When b() is executed for the first time, Initially a = 0, further when c(a) is called, it returns a= 2, 
when b() is executed for the second time, Value of a = 2 now which will be passed to b(), now when c(a) is envoked, it returns a= 4,
When b() is executed for the Third time, Value of a= 4, which will be passed to b(), when c(a) is invoked now, it returns a= 6
when the last expression a is evaluated it gives value of a as 6.

<h1><font color='#004b87'>Question 2</font></h1>
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [80]:
def numLines(filename):
    try:
        'returns the number of lines in file filename'
        infile = open(filename, 'r')
        lineList = infile.readlines()
        infile.close()
        return len(lineList)
    except IOError:
        print("File "+filename+" not found.")
        return

numLines('C:/Users/palla/OneDrive/Documents/Data Programming/midterm.py')

1331

####  Display of friendly Error message of file not found when accessing wrong path.

In [81]:
def numLines(filename):
    try:
        'returns the number of lines in file filename'
        infile = open(filename, 'r')
        lineList = infile.readlines()
        infile.close()
        return len(lineList)
    except IOError:
        print("File "+filename+" not found.")
        return

numLines('C:/Users/palla/OneDrive/Documents/Data Programming/idterm.py')

File C:/Users/palla/OneDrive/Documents/Data Programming/idterm.py not found.

<h1><font color='#004b87'>Question 3</font></h1>
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [79]:
class Marsupial:
    contentList=[]
    def put_in_pouch(self,content):
        self.contentList.append(content)
    def pouch_contents(self):
        return(self.contentList)
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Could not figure out the second part.

<h1><font color='#004b87'>Question 4</font></h1>
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops

In [35]:
def collatz(x):
    if x == 1:
        print(x)
    elif x%2 == 0:
        x = int(x/2)
        print(x)
        collatz(x)     
    else:
        x = int((3*x)+1)
        print(x)
        collatz(x)

collatz(10)

5
16
8
4
2
1
1

<h1><font color='#004b87'>Question 5</font></h1>
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [25]:
def binary(n):
    if n < 2:
        return n
    else:
        return(n % 2 + 10 * binary(int(n//2)))
n = int(input("enter number:"))
print(binary(n))

enter number:9
1001

<h1><font color='#004b87'>Question 6</font></h1>
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)

In [86]:
from html.parser import HTMLParser
# create a subclass and override the handler methods
class MyHTMLParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        self.indent = 0       #Indentation value is 0
       # print ("Found a start tag  :", tag)
        if tag in {'h1','h2','h3'}:
            self.indent = 1
            #print(self.get_starttag_text())
    def handle_data(self, data):
        if self.indent:
            print(data,"\t",end= "")
        
infile = open('C:/Users/palla/OneDrive/Documents/Data Programming/Week 6/Week 06 Notebook/Week 06 Notebook/w3c.html') 
content = infile.read() 
infile.close() 
parser = MyHTMLParser() 
parser.feed(content)

W3C Mission
 	Principles

<h1><font color='#004b87'>Question 7</font></h1>
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# Reference :
Below Part of code for Solution 7 is from book Introduction-to-Computing-Using-Python-2nd-Edition.pdf 

Could not figure out.

In [29]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        self.text= ""

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links
    
    def handle_data(self, data):
        self.text += data
       # print(self.text)
    def getData(self):
        return self.text
    
url = 'http://www.w3.org/Consortium/mission.html'
#url = 'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
for link in collector.getLinks():
    print(link)

http://www.w3.org/
http://www.w3.org/standards/
http://www.w3.org/participate/
http://www.w3.org/Consortium/membership
http://www.w3.org/Consortium/
http://www.w3.org/Consortium/
http://www.w3.org/Consortium/facts.html
http://www.w3.org/Consortium/presskit.html
http://www.w3.org/Consortium/sponsor/
http://www.w3.org/Consortium/Recruitment/
http://www.w3.org/Consortium/contact.html
http://www.w3.org/Help/
http://www.w3.org/Consortium/mission.html#w3c_content_body
http://www.w3.org/
http://www.w3.org/Consortium/
http://www.w3.org/Consortium/mission.html#openstand
http://www.w3.org/Consortium/mission.html#principles
http://www.w3.org/Consortium/mission.html#vision
http://open-stand.org/principles/
http://open-stand.org/
http://www.w3.org/WAI/
http://www.w3.org/International/
http://www.w3.org/standards/webofdevices/
http://www.w3.org/Mobile/
http://www.w3.org/standards/agents/Overview.html
http://www.w3.org/standards/webdesign/
http://www.w3.org/standards/webarch/
http://www.w3.org/standards/xml/
http://www.w3.org/standards/semanticweb/
http://www.w3.org/standards/webofservices/
http://www.w3.org/standards/semanticweb/
http://www.w3.org/standards/xml/security
http://www.w3.org/standards/webofservices/security
http://www.w3.org/standards/webdesign/privacy
http://www.w3.org/
http://www.w3.org/standards/
http://www.w3.org/participate/
http://www.w3.org/Consortium/membership
http://www.w3.org/Consortium/
http://www.w3.org/Consortium/contact
http://www.w3.org/Help/
http://www.w3.org/Consortium/sup
http://www.w3.org/Consortium/siteindex
http://lists.w3.org/Archives/Public/site-comments/
http://twitter.com/W3C
http://www.csail.mit.edu/
http://www.ercim.org/
http://www.keio.ac.jp/
http://ev.buaa.edu.cn/
http://www.w3.org/Consortium/Legal/ipr-notice

<h1><font color='#004b87'>Question 8</font></h1>
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

In [47]:
import sqlite3
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute("CREATE TABLE annualrain (City, Country, Season, Temperature, Rainfall)")
cur.execute("INSERT INTO annualrain VALUES('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO annualrain VALUES('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO annualrain VALUES('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO annualrain VALUES('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO annualrain VALUES('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO annualrain VALUES('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO annualrain VALUES('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO annualrain VALUES('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO annualrain VALUES('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO annualrain VALUES('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO annualrain VALUES('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO annualrain VALUES('Cairo','Egypt','Fall',22.2,4.5)")
con.commit()
con.close()

a) All the temperature data

In [49]:
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT Temperature from annualrain')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [50]:
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT distinct(city) from annualrain')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [51]:
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT * from annualrain where country="India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [52]:
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT * from annualrain where season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [53]:
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT City , Country, Season from annualrain where rainfall between 200 and 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [54]:
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT City , Country from annualrain where Season="Fall" and temperature>20 order by temperature asc')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [55]:
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT SUM(Rainfall) from annualrain where City="Cairo"')
cur.fetchall()

[(27.6,)]

In [57]:
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT Season, SUM(Rainfall) from annualrain Group by season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

<h1><font color='#004b87'>Question 9</font></h1>
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [96]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
string_list = [each_word.upper() for each_word in words]
print(string_list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [97]:
string_list2 = [each_word.lower() for each_word in words]
print(string_list2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [98]:
string_list3 = [len(each_word) for each_word in words]
print(string_list3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [99]:
string_list4= [(each_word.upper(), each_word.lower(), len(each_word)) for each_word in words]
print(string_list4)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

In [100]:
string_list5 = [each_word for each_word in words if len(each_word) >= 4]
print(string_list5)

['quick', 'brown', 'jumps', 'over', 'lazy']